@font-face {
	font-family: 'Minecraft Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Minecraft Regular'), url('1_MinecraftRegular1.woff') format('woff');
}

body {
	margin: 0;
	font-family: 'Minecraft Regular';
	color: white;
	font-weight: 600;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 background: rgb(74,111,40);
 background: linear-gradient(40deg, rgba(74,111,40,1) 0%, rgba(91,139,50,1) 100%);
}

header:hover {
 transition: all ease-in-out 250ms;
 border-bottom-left-radius: 14px;
 border-bottom-right-radius: 14px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

body {
	background: #212121;
	margin: 0;
	padding: 0;
}

nav {
	display: table;
	margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #fff;
}

nav a::before {
  content: '';
  display: block;
  height: 1px;
  background-color: #fff;

  position: left;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}